
/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Modern+Antiqua&display=swap');
@layer base{
  html, body{
    @apply scrollbar-hide overflow-x-hidden;
    scroll-behavior: smooth;
    font-family: 'Itim', cursive;
    


  }
}

@layer components{
  .headerLink{
    @apply transition-all duration-100   py-5 cursor-pointer  ;
  }
  .bg-primary{
    @apply bg-green-500
  }
  .text-primary{
    @apply text-green-500
  }
 
  .show{
    display: block !important
  }
  *{
    user-select: none;
  }
  ul li{
    position: relative;
    overflow: hidden;
    padding-bottom: 3px;
  }
  ul li::after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom:0;
    left: -100%;
    background-color: #FFF;

  }
  ul li:hover::after{
    left: 0;
    transition: all 0.3s ease-out;
  }
  ul .animate_out::after{
     left: 100%;
     transition: all 0.3s ease-out;

  }
}