
/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

@layer base{
  html, body{
    @apply scrollbar-hide;
    font-family: 'Modern Antiqua', cursive;
  }
}

@layer components{
  .headerLink{
    @apply transition-all duration-100   py-5 cursor-pointer  ;
  }
  .bg-primary{
    @apply bg-green-500
  }
  header li{
    position: relative;
    overflow: hidden;
    padding-bottom: 3px;
  }
  header li::after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom:0;
    left: -100%;
    background-color: #FFF;
    transition: all 0.3s ease-out;

  }
  header li:hover::after{
    left: 0
  }
}