
/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@layer base{
  html, body{
    @apply scrollbar-hide overflow-x-hidden;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    
  }
}

@layer components{
  .headerLink{
    @apply transition-all duration-100   py-5 cursor-pointer  ;
  }

  .text-primary{
    @apply text-green-500
  }
 
  .show{
    display: block !important
  }
  *{
    user-select: none;
  }
  .btn{
    @apply bg-black px-5 py-2 text-white font-bold rounded-lg 
  }
  
}